@{
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@
<br />
<br />
<p>This site is help you to update aassets owership and view the other details of assets based on the Job ID .</p>
