@{
    ViewBag.Title = "Contact";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@
<br />
<br />
<address>
    2350 Market Street<br />
    St. Louis, MO 63103-2517<br />
    <abbr title="Phone">P:</abbr>
    314-768-6260
</address>

<address>
    <strong>GIS Support:</strong>   <a href="mailto:gis@stlmsd.com">gis@stlmsd.com</a><br />
    <strong>IT Service Desk:</strong> <a href="mailto:ITServiceDesk@stlmsd.com">ITServiceDesk@stlmsd.com</a>
</address>